@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<style>
    .error{
        text-align:center;
        color:red;
        margin:120px 30px;
        
    }
</style>
<div class="error">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out, please Call Admin Or Wait 4 Hours and Try again.</p>
</div>
